<!DOCTYPE html>

<html>
    <head>
        <title>PAgina de prueba de AngularJS</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <!-- Se ve el uso del ng-model con una caja de texto y un h1 ->
        <div ng-app>
            <input type="number" ng-model="a1"><br/>
            El texto de la caja es: {{ a1 + a2 }}<br/>
            <input type="number" ng-model="a2"><br/>
        </div>
        <!--  -->
        <!-- Usando el ng-click, el ng-init y el $index ->
        <div ng-app ng-init="myArray = [];">
            <input type="text" ng-model="myText"/>
            <input type="button" value="Agregar" ng-click="myArray.push(myText); myText=''"/>
            <input type="button" value="Quitar ultimo" ng-click="myText = myArray.pop()">
            <p> {{ myArray }} </p>
            <br/><br/>
            <div ng-repeat="elemento in myArray" ng-init="myIndex=$index;">
                <p> Indice: {{ myIndex }} - {{ elemento }} </p>
            </div>
        </div>
        <!--  -->
        <!-- Usando controllers de forma mala ->
        <div ng-app="myAppBad" ng-controller="myControllerBad">
            {{ myVariableBad }}
        </div>
        <!--  -->
        <!-- Usando controllers de forma correcta ->
        <div ng-app="myAppGood" ng-controller="myControllerGood as mCG">
            {{ mCG.myVariableGood }}
        </div>
        <!--  -->
        <!-- ngRepeat con filtros, anexo para filas de distinto color: ng-class="{even: $even, odd: $odd} -->
        <div ng-app="myDivFilter" ng-controller="myControllerDivFilter as mCDF">
            Filtrar: <input type="text" ng-model="mCDF.myFilter">
            <br/>
            <br/>
            Ordenar de forma asc: <input type="checkbox" ng-model="mCDF.myOrder">
            <br/>
            <br/>
            Edad: <input type="text" ng-model="mCDF.age">
            <br/>
            <br/>
            Genero: <input type="text" ng-model="mCDF.gender">
            <br/>
            <br/>
            Nombre: <input type="text" ng-model="mCDF.name">
            <br/>
            <br/>
            <input type="button" value="Agregar" ng-click="mCDF.addHuman()">
            <br/>
            <br/>
            <div ng-repeat="myHuman in mCDF.myData | filter:mCDF.myFilter:'myHuman.age' | orderBy:'age':mCDF.myOrder">
                Edad: {{ myHuman.age }} - Genero: {{ myHuman.gender }} - Nombre: {{ myHuman.name }}
            </div>
        </div>
        <!--  -->
        <!-- Aca vamos a ver como usar los services $http ->
        <div data-ng-app="myServiceApp">
            <div data-ng-controller="myController">

            </div>
        </div>
        <!--  -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
        <script src="myModule.js"></script>
    </body>
</html>